<style>
  .board {
    border: 1px solid #000000;
  }
</style>
<nav>
  <a href="https://en.wikipedia.org/wiki/Rules_of_chess">Chess Rules</a>
</nav>
<br>
<section>
  <h1>The Game of Chess</h1>
  <p>The rules of chess (also known as the laws of chess) govern the play of the game of chess.
    While the exact origins of chess are unclear, modern rules first took form during the Middle Ages.
    The rules continued to be slightly modified until the early 19th century, when they reached essentially their current form.
    The rules also varied somewhat from place to place. Today, the standard rules are set by FIDE (Fédération Internationale des Échecs), the international governing body for chess.
    Slight modifications are made by some national organizations for their own purposes.
    There are variations of the rules for fast chess, correspondence chess, online chess, and Chess960.

    Chess is a two-player board game using a chessboard and sixteen pieces of six types for each player.
    Each type of piece moves in a distinct way. The object of the game is to checkmate (threaten with inescapable capture) the opponent's king.
    Games do not necessarily end in checkmate; a player who expects to lose may resign. A game can also end in a draw in several ways.

    Besides the basic moves of the pieces, rules also govern the equipment used, time control, conduct and ethics of players, accommodations for physically challenged players, and recording of moves using chess notation.
    Procedures for resolving irregularities that can occur during a game are provided as well.
  </p>
</section>
<div #board class="border" style="display: flex; flex-direction: column; align-items: center;">
{{title}}
</div>

<footer>
  <p>Author: Esther Eke</p>
  <p><a href="mailto:esther.eke@hof-university.de">esther.eke@hof-university.de</a></p>
</footer>


